.App{
    min-height: 100vh;
}
.theme-dark .hideThemeDark {
    display: none;
}
.theme-light .hideThemeLight {
    display: none;
}
.page {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}