.App{
    min-height: 100vh;
}
.userAvatar{
    border-radius: 50%;
    --tblr-avatar-size: 10rem;
}
.theme-dark .hideThemeDark {
    display: none;
}
.theme-light .hideThemeLight {
    display: none;
}
.page {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}